.bubble{
    margin: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 15px -2px rgb(44, 44, 44);
    transition: all .2s ease-in-out;
    position: absolute;
    opacity: .8;
    animation: bounce 1s infinite cubic-bezier(0.5, 0.05, .75, 0.5);
    animation-direction: alternate;
}

.bubble.clickable:hover{
    cursor: pointer;
    scale: 1.05;
    transition: scale .4s ease-in-out;
    box-shadow: 0 0 5px 0px white;
    opacity: 1;
    z-index: 1;
    animation: none;
}

@keyframes bounce{
    from { 
      transform: translate3d(0,0,0);
    }
    to {
    transform: translate3d(0, 10px,0);
  }
}

.bubble-text{
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: #27866A;
}