
.bubble{
    margin: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 10px -1px grey;
    transition: all .2s ease-in-out;
    opacity: .7;
    animation: bounce 1s infinite cubic-bezier(0.5, 0.05, .75, 0.5);
    animation-direction: alternate;
    position:relative;
    scale: .8;
  }
  
  /* ".true" indicates true/false if the bubble is clickable. If the bubble is clickable, then we want to activate the hover animation. */
  .bubble.true:hover{
    cursor: pointer;
    scale: 0.9;
    box-shadow: 0 0 5px 0px white;
    opacity: 1;
    z-index: 1;
    animation: none;
  }
  
  .bubble-text{
    text-decoration: none;
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: #27866A;
  }
  
  @keyframes bounce{
    from { 
      transform: translate3d(0,0,0);
    }
    to {
      transform: translate3d(0, 10px,0);
    }
  }
  
  
  @media only screen and (min-width: 700px) {
    
    .bubble{
      scale: 1;
    }
    
    .bubble.true:hover{
      scale: 1.05;

    }

}